.msddf{
  position: relative;
  max-width: 300px;
  margin: 15px auto;
  text-align: center;
  border: 1px solid #aaa;
}
.selected-block{
  padding: 2px 3px;
  text-align: left;
}
.main-block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search-input{
  border: none;
  width: 250px;
  font-size: 15px;
  padding-left: 15px;
  outline: none;
}
.btn-dropdown{
  width: 32px;
  height: 32px;
  line-height: 33px;
  cursor: pointer;
}
.dropdown-block{
  position: absolute;
  display: none;
  overflow-x: hidden;
  overflow-y: auto;
  left: 0;
  right: 0;
  top: 100%;
  border: 1px solid #aaa;
  max-height: 200px;
}
.visible-block{
  display: block;
}
.drop-down-items{
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 1px;
  margin-block-end: 1px;
  text-align: left;
  & li{
    padding: 5px 15px;
    border-bottom: 1px solid #dbe4ec;
    cursor: pointer;
    &:last-child{
      border-bottom: none;
    }
    &:hover{
      background-color: #eee;
    }
    &:focus{
      background-color: #eee;
    }
  }
}