
.drop-down-items{
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 1px;
  margin-block-end: 1px;
  text-align: left;
  & li{
    padding: 5px 15px;
    border-bottom: 1px solid #dbe4ec;
    &:last-child{
      border-bottom: none;
    }
    &:hover{
      background-color: #eee;
    }
  }
}